* {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.sidebar {
  position: fixed;
  left: -350px;
  top: 0;
  display: block;
  width: 250px;
  height: 100%;
  background-color: #333;
  color: white;
  padding: 20px;
  transition: left 0.3s ease; 

}

.sidebar-header {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.menu {
  list-style-type: none;
  padding: 0;
  cursor: pointer;
}

.menu li {
  margin-bottom: 10px;
  text-align: center;
}

.sidebar-toggle {
  display: none;
}

.menu li a {
  color: white;
  text-decoration: none;
}

.menu li a:hover {
  text-decoration: none;
}

.logout {
  text-align: center;
  position: relative;
  /* bottom: -70vh; */
  display: none;
  color: white;
  cursor: pointer;
}

.logout:hover {
  background-color: orange;
  transition: all ease-in;
}

.content {
  margin-left: 250px;
  padding: 20px;
}

.sidebar .menu li :hover {
  display: block;
  background: orange;
  transition: all ease-in;
}

@media (max-width: 768px) {
  .sidebar {
      display: none;
      width: 150px;
      height: 100vh;
      /* position: relative; */
      left: 0;
  }

  .sidebar-toggle:checked~.sidebar {
      display: block;
  }

  .content {
      margin-left: 0;
  }

  .logout {
      position: static;
      display: block;
  }
}

.data {
  display: none;
  font-size: 20px;
  position: absolute;
  top: 20px;
  right: 20px;
  font-weight: bold;
  text-align: justify;
}

.sidebar-toggle:checked~.data {
  display: block;
}


.sidebar-toggle-label {
  position: fixed;
  top: 20px;
  left: 20px;
  background-color: #333;
  color: #fff;
  padding: 10px;
  font-size: 24px;
  cursor: pointer;
}

.sidebar-toggle:checked~.sidebar {
  left: 0;
}
.sidebar-toggle:checked~ .sidebar .menu .logout {
display: block;    
}

.image-text-container {
  display: flex;
  align-items: center;
  margin-bottom: -50px;
  margin-top: 70px;
  /* adjust as needed */
}

.image-text-container:hover {
  background: orange;
  transition: all ease-in 0.2s;
}

.image {
  width: 20px;
  height: 20px;
  object-fit: cover;
  margin-right: 10px;
}

.text {
  font-size: 14px;
}
.gambar-container {
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.gambar-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.cropped1 {
  width: 100%;
  height: 100%;
  /* height: 105vh; */
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  align-items: center;
  justify-content: center;
}

.jumbotron {
  background-image: url(../assets/warehouse-background-pzkv8y7kvdmmnyej.jpg);
  background-size: cover;
  z-index: 2;
}


