body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0px;
  transition: background-color 0.3s, color 0.3s
}
#darkmode{
  background-color: #000;
  color: white;
}
#light-mode{
  background-color: white;
  color: black;
}
main {
  width: 100%;
  border: 2px solid #000;
}

.nav {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  width: 40%;
  list-style-type: none;
}

.nav ul li a {
  font-size: 18px;
  text-decoration: none;
  padding: 8px 20px;
  border-radius: 5px;
  background-color: blue;
  color: white;
  border: 0;
  outline: 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.nav button {
  border: none;
  outline: none;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background-color: blue;
  color: white;
  transition: 0, 3 all ease-in-out;
  -webkit-transition: 0, 3 all ease-in-out;
  -moz-transition: 0, 3 all ease-in-out;
  -ms-transition: 0, 3 all ease-in-out;
  -o-transition: 0, 3 all ease-in-out;
}

.nav button:hover {
  background-color: rgba(0, 0, blue, 0.7);
}

header {
  padding: 50px;
  background-color: lightblue;
  grid-area: header;
}

aside {
  height: 10px;
  background-color: lightcoral;
  padding: 50px;
  grid-area: side;
}

nav {
  background-color: lightcyan;
  padding: 20px;
  grid-area: navbar;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  padding-top: 200px;
  background-color: white;
  padding: 50px;
  grid-area: content;
}

footer {
  padding: 10px;
  background-color: lightslategray;
  grid-area: footer;
}


/* styling */

.tombol_anggota {
  margin-bottom: 35px;
  padding: 25px 195px;
  font-size: 16px;
  border: 1px solid black;
  background-color: lightgray;
  cursor: pointer;
}

.tombol_sendiri {
  margin-bottom: 35px;
  padding: 25px 195px;
  font-size: 16px;
  border: 1px solid black;
  background-color: grey;
  cursor: pointer;
}

.foto {
  float: left;
}
.subfoto{
  position: relative;
  top: 90px;
}

.desc {
  display: flex;
  text-align: center;
  margin-top: 70px;
  /* margin-left: 170px; */
}

.main-content {
  margin-left: 60px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.grid-item {
  position: relative;
  overflow: hidden;
  background-color: blue;
  border-radius: 5px;
  transition: transform 0.3s;
}

.grid-item img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  transition: transform 0.3s;
}

.grid-item:hover {
  transform: scale(1.1);
}

.grid-item:hover img {
  transform: scale(1.1);
}

.grid-item p {
  margin: 0;
  padding: 20px;
  line-height: 1.5;
}

.toggle-container {
  position: fixed;
  top: 20px;
  right: 20px;
}

.toggle-icon {
  width: 30px;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.3s;
}

.toggle-icon:hover {
  opacity: 1;
}