@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
* {
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
}

.nav {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
  color: white;
  padding: 25px 0;
  z-index: 5555;
}

.nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  width: 40%;
  list-style-type: none;
}
.nav ul li a {
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  text-decoration: none;
  padding: 7px 15px;
  border-radius: 5px;
  color: white;
  border: 0;
  outline: 0;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
}

.nav button {
  border: none;
  outline: none;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background-color: blue;
  color: white;
  transition: 0, 3 all ease-in-out;
  -webkit-transition: 0, 3 all ease-in-out;
  -moz-transition: 0, 3 all ease-in-out;
  -ms-transition: 0, 3 all ease-in-out;
  -o-transition: 0, 3 all ease-in-out;
}
.nav button:hover {
  background-color: rgba(0, 0, blue, 0.7);
}

#wrapper-profile {
  margin-inline: auto;
  padding-top: 60px;
  min-height: min-content;
  width: 80%;
}

/* banner start */
.banner {
  background-image: url("./assets/bg-profile.png");
  z-index: 1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 80vw;
  height: 255px;
  position: relative;
  top: 0px;
  left: 0;
  right: 0;
  margin-top: 20px;
  margin-bottom: 90px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}


.image-profile {
  position: absolute;
  left: 50px;
  bottom: -70px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
  overflow: hidden;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 5px solid white;
}
.image-profile img {
  width: 100%;
  height: auto;
}

.deskripsi-profile {
  position: absolute;
  right: 50px;
  top: 30%;
  border-right: 2px solid rgba(0, 0, 0, 1);
  padding-right: 50px;
  display: flex;
  gap: 15px;
  flex-direction: column;
  align-items: end;
}
.deskripsi-profile h2 {
  font-weight: 600;
  font-size: 2rem;
}
.deskripsi-profile p {
  background-color: #bb9475;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  padding: 5px 20px;
  font-size: 16px;
  color: white;
  font-weight: 500;
}

.contact-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  gap: 10px;
  font-size: 16px;
}
/* banner end */
.wrapper-description p {
  width: 80%;
  text-align: center;
  font-weight: 400;
  font-size: 1rem;
}
/* gallery foto start */
.gallery-about{
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  gap: 10px;
  margin-bottom: 50px;
}
.gallery-about img {
  border-radius: 10px;
  width: 200px;
  height: 200px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.center{
  width: 100%;
  height: 410px;
}
.kiri, .kanan {
  display: flex;
  width: 25%;
  flex-direction: column;
  gap: 10px;
}
.center img {
  width: 100%;
  height: 100%;
}


.wrapper-about h2 {
text-align: center;
font-size: 3rem;
margin-block: 50px;
}


.description {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  /* overflow: hidden; */
}
.btn-description{
  background-color: blue;
  color: white;
  padding: 8px 15px;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
}

.detail-description{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  
}

.btn-description:hover{
  background-color: rgba(0, 0, blue, 0.9);
}
